*.log
*.pot
*.pyc
__pycache__
lib/
/media/
/static/
Token.txt
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history
celerybeat-schedule.*
*.mysql
*.sql
*.db